:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  flex: 0 0 auto;
  padding: var(--spacing);
  background-color: var(--emphasis-colour);
  font-size: var(--title-size);
  line-height: var(--title-size);
  font-weight: bold;
  color: var(--font-colour-light);
  text-align: center;
}

.nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;

  .nav-back {
    flex: 0 0 auto;
    padding: calc(var(--spacing) / 2) var(--spacing);
    background-color: var(--background-colour);
    border-style: none;
    font-size: var(--caption-size);
    line-height: var(--caption-size);
    cursor: pointer;

    &:before {
      content: "\003c";
      font-size: calc(var(--caption-size) * 1.5);
      line-height: var(--caption-size);
      vertical-align: baseline;
      margin-right: calc(var(--spacing) / 2);
    }

    &:hover {
      background-color: var(--background-colour-dark);
    }

    &:active {
      background-color: var(--background-colour);
    }
  }

  .nav-spacer {
    flex: 1 1 0;
  }
}

.content {
  flex: 1 1 0;
}

.errors {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
