DEBUG=1
SECRET_KEY=foo
ALLOWED_HOSTS="localhost 127.0.0.1 [::1]"
CORS_ALLOWED_ORIGINS="http://localhost:4200"

SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=db_dev
SQL_USER=db_user
SQL_PASSWORD=db_password
SQL_HOST=db
SQL_PORT=1234
